.hidden{

  display: none;

}

.small{

  width: 100px;

  height: 100px;

}

.medium{

  width: 300px;

  height: 300px;

}

.large{

  width: 500px;

  height: 500px;

}

.game-field{

  position: relative;

  margin: auto;

}

#game-board,.game-overlay{

  position: absolute;

}

#game-board{

  border: 20px solid rgb(37, 37, 37);

}

.game-overlay{

  background-color: rgba(199, 199, 199, 1);

  z-index: 2;

  border: 20px solid rgba(199, 199, 199, 1);

}