html,body,.container {

  height: 100%;

  width: 100%;

}

body {

  background-color: rgba(125, 113, 165, 1);

}

.container{

  background-color: white;
  
  max-width: 750px;
  
  margin: auto;
  
  padding: 10px 0px;

  box-sizing: border-box;

}