button.new-game {

  background-color: rgb(38, 38, 199);
  
  outline: none;
  
  border: none;
  
  color: white;
  
  font-family: sans-serif;
  
  display: block;
  
  padding: 12px 13px;
  
  border-radius: 3px;
 
  margin: auto;

  position: relative;
  
  top: 50%;
  
  -webkit-transform: translateY(-50%);
  
  -ms-transform: translateY(-50%);
  
  transform: translateY(-50%);

}