header.gameInfo {

  margin: 13px;

}

a.header-link{

  text-decoration: none;

  color: rgb(67, 101, 209);

}

a.view-source {
  
  float: right;

}

h1.game-title {
  
  text-align: center;
  
  color: rgb(81, 162, 81);
  
  font-family: serif;

}